@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;700;900&display=swap');

html {
    font-size: 62.5%; /* 62.5% cá»§a 16px = 10px */
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif; 
    font-size: 1.4rem;
    color: #374151;
}